aniso8601==8.0.0
Click==7.0
filetype==1.0.5
Flask==1.1.1
Flask-API==2.0
Flask-RESTful==0.3.7
fpdf==1.7.2
img2pdf==0.3.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==7.0.0
PyPDF2==1.26.0
pytz==2019.3
six==1.14.0
Werkzeug==0.16.0
gunicorn==20.0.4
